#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.Questions{
  display: flexbox;
  background-color: #373737;
  height: 98vh;
  width: 55vh;
  margin-right: 7px;
  border-radius: 10px;
  padding: 0 10px;
}

.Chating{
    background-color: #373737;
    height: 98vh;
    width: 120vh;
    border-radius: 10px;
}